.weather-app {
  max-width: 480px;
  margin: 30 auto;
  padding: 15px;
  border: 2px solid #4eb35f;
  border-radius: 8px;
}
h1 {
  text-align: left;
}
.date {
  list-style-type: none;
}
.humidity {
  list-style-type: none;
}
.wind {
  list-style-type: none;
}
.description {
  list-style-type: none;
}
.weather {
  margin: 0 auto;
  padding: 2px;
  font-size: 18px;
}
.fall {
  margin: 2px;
  padding: 1px;
  font-size: 18px;
}
.degree {
  font-size: 40px;
}
