.weather-app-app {
  max-width: 500px;
  margin: 30px auto;
}
.weather-app {
  max-width: 500px;
  margin: 30px auto;
  padding: 11px;
  border: 2px solid #4eb35f;
  border-radius: 8px;
}

ul {
  margin: 0 auto;
  padding: 0;
}

.date {
  list-style-type: none;
}
.humidity {
  list-style-type: none;
  font-weight: bold;
  font-size: 15px;
}
.wind {
  list-style-type: none;
  font-weight: bold;
  font-size: 15px;
}
.description {
  list-style-type: none;
  font-size: 20px;
}
.weather {
  position: relative;
  margin: 0 auto;
  padding: 1px;
  font-size: 13px;
  top: -20px;
}
.fall {
  position: relative;
  margin: 1px;
  padding: 1px;
  font-size: 13px;
  top: -20px;
}
.degree {
  font-size: 45px;
}
